easydict==1.9
numpy==1.22.3
pandas==1.4.2
pytorch-lightning==1.6.0
scikit-learn==1.0.2
timm==0.5.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu113
torchvision==0.12.0+cu113
torchmetrics==0.7.3
tqdm==4.64.0
